<HTML>
    <HEAD>
      <TITLE>Test page for Nginx</TITLE>
    </HEAD>
    <BODY>
     <H1>Nginx - configured and deployed by Ansible</H1>
     <P>This page is hosted on {{ ansible_hostname }}</P>
   
     <P>{{ ansible_managed }}</P>
     <P>ABC123</P>
    </BODY>
   </HTML>