worker_processes  1;

events {
    worker_connections  1024;
}

http {
        server {
                listen 80 default_server;
                listen 443 ssl;

                root /usr/share/nginx/html;
                index index.html index.htm;

                server_name {{ ansible_hostname }};
                ssl_certificate {{ tls_cert_fullpath }};
                ssl_certificate_key {{ tls_key_fullpath }};

                location / {
                        try_files $uri $uri/ =404;
                }
        }
}